---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-dpl
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: crowddotdev/frontend:1666877829.9731ed18
          envFrom:
            - configMapRef:
                name: frontend-config
          ports:
            - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 8081
      targetPort: 8081
