.c-field {
  // Field label
  &__label{
    font-size: var(--lf-field-label-font-size);
    line-height: var(--lf-field-label-line-height);
    font-weight: var(--lf-field-label-font-weight);
    color: var(--lf-field-label-color);
  }

  // Required sign
  &__required{
    color: var(--lf-field-required-color);
  }

  // Required sign
  &__header{
    margin-bottom: var(--lf-field-spacing);
  }
}


