.idea

**/.env*
!**/.env*.dist
!**/.env*.base

**/*-venv
**/venv
**/venv*

**/__pycache__
**/*.egg-info

crowd-*/dist
crowd-*/build

**/build/

**/node_modules
**/build
**/.vscode
**/.DS_Store

**/.vscode*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.pem

**/.pytest_cache*

**/.serverless
**/psycopg2

docker-compose.yaml
