.c-timeline {
  @apply flex flex-col;

  &__item{
    @apply flex
  }

  &__item:last-child .c-timeline__prefix:after{
    @apply hidden;
  }

  &__prefix{
    width: var(--lf-timeline-width);
    min-width: var(--lf-timeline-width);
    @apply flex flex-col items-center;


    &:after{
        content: '';
        @apply flex-grow block w-px bg-gray-300;
    }
  }

  &__dot{
    @apply my-1 h-1 w-1 rounded-full bg-gray-300
  }
}


