VUE_APP_EDITION=community
VUE_APP_COMMUNITY_PREMIUM=false
VUE_APP_BACKEND_URL=/api
VUE_APP_WEBSOCKETS_URL=ws://localhost:8080
VUE_APP_FRONTEND_HOST=localhost:8081
VUE_APP_FRONTEND_PROTOCOL=http
VUE_APP_GITHUB_INSTALLATION_URL=
VUE_APP_DISCORD_INSTALLATION_URL=
VUE_APP_CUBEJS_URL=http://localhost:4000
VUE_APP_CONVERSATIONS_PUBLIC_URL=http://localhost:3000
VUE_APP_NANGO_URL=http://localhost:3003
VUE_APP_ENV=local

# Integration Settings - set to 'true' to activate an integration on the frontend.
# Ensure corresponding backend environment variables are set for full functionality.
# These settings can be adjusted as needed.
# VUE_APP_IS_GITHUB_ENABLED=true
# VUE_APP_IS_HACKERNEWS_ENABLED=true
# VUE_APP_IS_DISCORD_ENABLED=true
# VUE_APP_IS_LINKEDIN_ENABLED=true
# VUE_APP_IS_TWITTER_ENABLED=true
# VUE_APP_IS_HUBSPOT_ENABLED=true
# VUE_APP_IS_SLACK_ENABLED=true
# VUE_APP_IS_DEVTO_ENABLED=true
# VUE_APP_IS_REDDIT_ENABLED=true
# VUE_APP_IS_STACKOVERFLOW_ENABLED=true
# VUE_APP_IS_DISCOURSE_ENABLED=true
# VUE_APP_IS_ZAPIER_ENABLED=true
# VUE_APP_IS_SALESFORCE_ENABLED=true
# VUE_APP_IS_SEGMENT_ENABLED=true
# VUE_APP_IS_CENSUS_ENABLED=true
# VUE_APP_IS_SNOWFLAKE_ENABLED=true
# VUE_APP_IS_BIGQUERY_ENABLED=true
# VUE_APP_IS_N8N_ENABLED=true

# VUE_APP_IS_GIT_ENABLED=true
# VUE_APP_IS_GROUPSIO_ENABLED=true
