/* ---------------------------------- *\
            Colors
\* ---------------------------------- */

:root {
  // Main colors
  --lf-color-transparent: transparent;
  --lf-color-white: #fff;
  --lf-color-black: #000000;
  --lf-color-background: #f8f8f8;

  // Primary
  --lf-color-primary-900: #001E33;
  --lf-color-primary-800: #003B66;
  --lf-color-primary-700: #005999;
  --lf-color-primary-600: #0076CC;
  --lf-color-primary-500: #0094FF;
  --lf-color-primary-400: #33A9FF;
  --lf-color-primary-300: #66BFFF;
  --lf-color-primary-200: #99D4FF;
  --lf-color-primary-150: #c6e2ff;
  --lf-color-primary-125: #ecf5ff;
  --lf-color-primary-100: #CCEAFF;
  --lf-color-primary-50: #E6F4FF;
  --lf-color-primary-25: #F6FAFF;

  // Secondary
  --lf-color-secondary-500: #003778;
  --lf-color-secondary-400: #335F93;
  --lf-color-secondary-300: #6687AE;
  --lf-color-secondary-200: #99AFC9;
  --lf-color-secondary-100: #CCD7E4;
  --lf-color-secondary-50: #E6EBF2;

  // Gray
  --lf-color-gray-900: #111827;
  --lf-color-gray-800: #1F2937;
  --lf-color-gray-700: #374151;
  --lf-color-gray-600: #4B5563;
  --lf-color-gray-500: #6B7280;
  --lf-color-gray-400: #9CA3AF;
  --lf-color-gray-300: #D1D5DB;
  --lf-color-gray-250: #e6e6e6;
  --lf-color-gray-200: #E5E7EB;
  --lf-color-gray-100: #F3F4F6;
  --lf-color-gray-50: #F9FAFB;

  // Gray
  --lf-color-neutral-900: #0F172B;
  --lf-color-neutral-800: #1D293D;
  --lf-color-neutral-700: #314158;
  --lf-color-neutral-600: #45556C;
  --lf-color-neutral-500: #62748E;
  --lf-color-neutral-400: #90A1B9;
  --lf-color-neutral-300: #CAD5E2;
  --lf-color-neutral-250: #e6e6e6;
  --lf-color-neutral-200: #E2E8F0;
  --lf-color-neutral-100: #F1F5F9;
  --lf-color-neutral-50: #F8FAFC;

  // Red
  --lf-color-red-900: #7F1D1D;
  --lf-color-red-800: #991B1B;
  --lf-color-red-700: #B91C1C;
  --lf-color-red-600: #DC2626;
  --lf-color-red-500: #EF4444;
  --lf-color-red-400: #F87171;
  --lf-color-red-300: #FCA5A5;
  --lf-color-red-200: #FECACA;
  --lf-color-red-100: #FEE2E2;
  --lf-color-red-50: #FEF2F2;

  // Yellow
  --lf-color-yellow-900: #78350F;
  --lf-color-yellow-800: #92400E;
  --lf-color-yellow-700: #B45309;
  --lf-color-yellow-600: #D97706;
  --lf-color-yellow-500: #F59E0B;
  --lf-color-yellow-400: #FBBF24;
  --lf-color-yellow-300: #FCD34D;
  --lf-color-yellow-200: #FDE68A;
  --lf-color-yellow-100: #FEF3C7;
  --lf-color-yellow-50: #FFFBEB;

  // Green
  --lf-color-green-1000: #059669;
  --lf-color-green-900: #14532D;
  --lf-color-green-800: #166534;
  --lf-color-green-700: #15803D;
  --lf-color-green-600: #16A34A;
  --lf-color-green-500: #10B981;
  --lf-color-green-400: #4ADE80;
  --lf-color-green-300: #86EFAC;
  --lf-color-green-200: #BBF7D0;
  --lf-color-green-100: #DCFCE7;
  --lf-color-green-50: #F0FDF4;

  // Purple
  --lf-color-purple-900: #4C1D95;
  --lf-color-purple-800: #5B21B6;
  --lf-color-purple-700: #6D28D9;
  --lf-color-purple-600: #7C3AED;
  --lf-color-purple-500: #8B5CF6;
  --lf-color-purple-400: #A78BFA;
  --lf-color-purple-300: #C4B5FD;
  --lf-color-purple-200: #DDD6FE;
  --lf-color-purple-100: #EDE9FE;
  --lf-color-purple-50: #F5F3FF;
}
