/* ---------------------------------- *\
            Colors
\* ---------------------------------- */

:root {
  // Shadows
  --shadow-none: none;
  --shadow-s: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-default: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);;
  --shadow-m: 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 2px 4px -2px rgba(0, 0, 0, 0.10);;
  --shadow-l: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -4px rgba(0, 0, 0, 0.10);;
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10);;
}
