/.github/CODEOWNERS @joanagmaia

# frontend
/frontend/                                                  @gaspergrom @Sameh16

# backend and services
/backend/                                                   @epipav @skwowet @themarolt @joanreyero @sausage-todd
/services/                                                  @epipav @skwowet @themarolt @joanreyero @sausage-todd

# infra
/.github/                                                   @themarolt
/.husky/                                                    @themarolt
/.scripts/                                                  @themarolt
/.gitignore                                                 @themarolt
/.package.json                                              @themarolt

# integrations
/services/apps/integration*                                 @themarolt
/services/apps/activities_worker/                           @themarolt
/services/apps/nango*                                       @themarolt
/services/libs/integrations/                                @themarolt
/services/libs/nango/                                       @themarolt
/services/libs/queue/                                       @themarolt
/backend/src/api/integration/                               @themarolt
/backend/src/api/nango/                                     @themarolt
/backend/src/serverless/integrations/                       @themarolt
/backend/src/services/activityService.ts                    @themarolt
/backend/src/services/conversationService.ts                @themarolt
/backend/src/services/integrationService.ts                 @themarolt

# monitoring and alerting
/services/libs/alerting/                                     @themarolt @sausage-todd
/services/libs/logging/                                      @themarolt @sausage-todd
/services/libs/telemetry/                                    @themarolt @sausage-todd

# data-access-layer
/services/libs/data-access-layer/                            @sausage-todd

# database
/services/libs/database/                                     @sausage-todd
/services/libs/questdb/                                      @sausage-todd
/backend/src/database/                                       @sausage-todd
/backend/src/serverless/dbOperations/                        @sausage-todd
/backend/src/middlewares/databaseMiddleware.ts               @sausage-todd

# api
/backend/src/api/                                            @skwowet

# data correctness
/services/aps/entity_merging_worker                          @skwowet
/services/aps/members_enrichment_worker                      @skwowet
/services/aps/organizations_enrichment_worker                @skwowet
/services/aps/merge_suggestions_worker                       @skwowet
/services/aps/profiles_worker                                @skwowet
/services/aps/script_executor_worker                         @skwowet
/services/aps/search_sync_api                                @skwowet
/services/aps/search_sync_worker                             @skwowet
/backend/src/services/dataIssueService.ts                    @skwowet
/backend/src/services/dataQualityService.ts                  @skwowet
/backend/src/services/memberAffiliationService.ts            @skwowet
/backend/src/services/memberOrganizationService.ts           @skwowet
/backend/src/services/memberService.ts                       @skwowet
/backend/src/services/organizationService.ts                 @skwowet
/backend/src/services/searchSyncService.ts                   @skwowet

# insights
**/.tinyb                                                    @epipav @borfast
**/.tinyenv                                                  @epipav @borfast
services/libs/tinybird/                                      @epipav @borfast
scaffold/kafka-connect/kafka-connect-http/*                  @epipav @borfast
**/copy-activities-from-questdb-to-tinybird/                 @epipav @borfast
**/copyActivitiesFromQuestdbToTinybird.ts                    @epipav @borfast
