ARCHIVED_REPOSITORIES_CHECKER_BATCH_SIZE=10000

ARCHIVED_REPOSITORIES_CHECKER_GITHUB_TOKEN=
#ARCHIVED_REPOSITORIES_CHECKER_GITHUB_BATCH_SIZE=5000
#ARCHIVED_REPOSITORIES_CHECKER_GITHUB_DELAY_MS=500000

ARCHIVED_REPOSITORIES_CHECKER_GITLAB_TOKEN=
#ARCHIVED_REPOSITORIES_CHECKER_GITLAB_BATCH_SIZE=100
#ARCHIVED_REPOSITORIES_CHECKER_GITLAB_DELAY_MS=500000


# PostgreSQL connection details
CROWD_DB_WRITE_HOST=
CROWD_DB_READ_HOST=
CROWD_DB_PORT=
CROWD_DB_USERNAME=
CROWD_DB_PASSWORD=
CROWD_DB_DATABASE=

# Redis connection details
CROWD_REDIS_USERNAME=
CROWD_REDIS_PASSWORD=
CROWD_REDIS_HOST=
CROWD_REDIS_PORT=
# The number of the Redis database to use - THIS IS IMPORTANT FOR PRODUCTION!
# By default, when no database number is specified, Redis uses 0, but 0 is already in use by the main backend.
# This means that if you don't override this, you may accidentally overwrite the main backend's Redis data.
# It is set to 1 here just to be safe, in case somehow this example ends up in production and you forget to set it.
ARCHIVED_REPOSITORIES_CHECKER_REDIS_DB=1
