# Kafka settings
CROWD_KAFKA_BROKERS=kafka:9092
CROWD_KAFKA_TOPIC=data-sink-worker-normal

# Redis settings
CROWD_REDIS_HOST=redis

# S3 settings
CROWD_S3_HOST="s3"

# Db settings
CROWD_DB_READ_HOST="db"
CROWD_DB_WRITE_HOST="db"

# Product DB settings
PRODUCT_DB_HOST=product
PRODUCT_DB_PORT=5432

# Nango settings
CROWD_NANGO_URL=http://nango:3003

# OpenSearch settings
CROWD_OPENSEARCH_NODE=http://open-search:9200

# Temporal
CROWD_TEMPORAL_SERVER_URL=temporal:7233

# Seach sync api
CROWD_SEARCH_SYNC_API_URL=http://search-sync-api:8083