version: '3.1'

services:
  db-test:
    image: postgres:13.6-alpine
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DB: crowd-web
    ports:
      - 5433:5432
    networks:
      - crowd-bridge-test

  open-search-test:
    image: opensearchproject/opensearch:2.7.0
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9201:9200
      - 9601:9600
    networks:
      - crowd-bridge-test

  redis-test:
    image: redis
    ports:
      - 6380:6379
    networks:
      - crowd-bridge-test

networks:
  crowd-bridge-test:
    external: true
