.el-checkbox {
  --el-checkbox-checked-text-color: #000000; //Black

  // Label
  &__label {
    @apply text-black font-normal;
  }

  &__input {
    // Inner component
    .el-checkbox__inner {
      @apply h-5 w-5 border-gray-300;
      &::after {
        height: 10px;
        left: 7px;
        top: 2px;
      }
    }

    &:not(.is-disabled):not(.is-checked)
      .el-checkbox__inner:hover {
      @apply border-gray-400;
    }

    // Indeterminate state
    &.is-indeterminate {
      .el-checkbox__inner::before {
        top: 8px;
      }
    }

    // Checked state
    &.is-checked .el-checkbox__inner,
    &.is-indeterminate .el-checkbox__inner {
      @apply bg-brand-500 border-brand-500;
    }

    // Disabled state
    &.is-disabled + span.el-checkbox__label {
      @apply text-black;
    }
  }

  // Checkbox for filter components
  &.filter-checkbox {
    @apply mr-3;

    .el-checkbox__input .el-checkbox__inner {
      @apply h-4 w-4;
      &::after {
        height: 8px;
        left: 5px;
        top: 1px;
      }
    }
  }
}
