.el-switch {
  --el-switch-on-color: #003778 !important; // Brand-500
  --el-switch-off-color: #e5e7eb; // Gray-200

  &:hover {
    --el-switch-off-color: #d1d5db; // Gray-300
  }

  @apply flex grow justify-between items-center ml-4 cursor-pointer;

  // Label
  & .el-switch__label {
    @apply text-xs text-gray-900 font-medium #{!important};
  }
}
