server {
  listen 443 ssl;
  server_name localhost;
  
  
  ssl_certificate /etc/nginx/ssl/selfsigned_cert.pem;
  ssl_certificate_key /etc/nginx/ssl/selfsigned_key.pem;

  location ^~/api/ {
    rewrite ^/api/(.*)$ http://localhost:8080/$1 permanent;
  }

  location / {
    return 301 http://localhost:8081$request_uri;
  }
}