:root {
  /* ---------------------------------- *\
          Avatar styles
  \* ---------------------------------- */

  --lf-avatar-text-size: calc(14 / 32);
  --lf-avatar-background: var(--lf-color-primary-50);
  --lf-avatar-color: var(--lf-color-secondary-400);
}
