:root {
  /* ---------------------------------- *\
            Badge sizes
  \* ---------------------------------- */


  /* Small */
  --lf-badge-small-font-size: #{rem(12)};
  --lf-badge-small-height: #{rem(22)};


  /* Medium */
  --lf-badge-medium-font-size: #{rem(13)};
  --lf-badge-medium-height: #{rem(26)};

  /* ---------------------------------- *\
            Badge styles
  \* ---------------------------------- */

  /* Default */
  --lf-badge-default-background: var(--color-gray-100);
  --lf-badge-default-border: var(--color-gray-200);
  --lf-badge-default-text: var(--color-gray-900);

  /* White */
  --lf-badge-white-background: var(--color-white);
  --lf-badge-white-border: var(--color-gray-200);
  --lf-badge-white-text: var(--color-gray-900);

  /* Primary */
  --lf-badge-primary-background: var(--color-primary-50);
  --lf-badge-primary-border: var(--color-primary-100);
  --lf-badge-primary-text: var(--color-primary-600);
}
