:root{
  --cr-btn-primary-background: var(--color-gray-900);
  --cr-btn-primary-border: var(--color-gray-900);
  --cr-btn-primary-text: var(--color-gray-900);
  --cr-btn-primary-shadow: var(--color-gray-900);

  --cr-btn-primary-hover-background: var(--color-gray-900);
}
