:root {
  /* ---------------------------------- *\
          Card style
  \* ---------------------------------- */

  --lf-card-shadow: var(--shadow-default);
  --lf-card-radius: #{rem(8)};
  --lf-card-background: var(--color-white);
  --lf-card-border: none;
}
