:root {
  /* ---------------------------------- *\
          Card style
  \* ---------------------------------- */

  --cr-card-shadow: var(--shadow-default);
  --cr-card-radius: #{rem(8)};
  --cr-card-background: var(--color-white);
  --cr-card-border: none;
}
