:root {
  /* ---------------------------------- *\
           Field style
  \* ---------------------------------- */

  // Field label
  --lf-field-label-font-size: #{rem(14)};
  --lf-field-label-line-height: #{rem(21)};
  --lf-field-label-font-weight: 600;
  --lf-field-label-color: var(--lf-color-gray-900);

  // Required sign
  --lf-field-required-color: var(--lf-color-red-500);

  // Spacing
  --lf-field-spacing: #{rem(4)};
}
