:root {
  /* ---------------------------------- *\
           Field style
  \* ---------------------------------- */

  // Field label
  --lf-field-label-font-size: #{rem(14)};
  --lf-field-label-font-weight: var(--font-medium);
  --lf-field-label-color: var(--color-gray-900);

  // Required sign
  --lf-field-required-color: var(--color-primary-500);

  // Spacing
  --lf-field-spacing: #{rem(4)};
}
