:root {
  /* ---------------------------------- *\
           Field message style
  \* ---------------------------------- */

  // Message
  --cr-field-message-font-size: #{rem(13)};
  --cr-field-message-line-height: #{rem(17)};
  --cr-field-message-spacing: #{rem(4)};

  // Icon
  --cr-field-message-icon-size: #{rem(20)};
  --cr-field-message-icon-spacing: #{rem(4)};

  // Error
  --cr-field-message-error-color: var(--color-red-600);

  // Info
  --cr-field-message-info-color: var(--color-blue-600);

  // Warning
  --cr-field-message-warning-color: var(--color-yellow-600);

  // Hint
  --cr-field-message-hint-color: var(--color-gray-400);
}
