:root {
  /* ---------------------------------- *\
           Input style
  \* ---------------------------------- */

  // Input
  --cr-input-background: var(--color-white);
  --cr-input-border: var(--color-gray-200);
  --cr-input-border-radius: #{rem(8)};
  --cr-input-shadow: var(--shadow-s);
  --cr-input-color: var(--color-gray-900);
  --cr-input-placeholder-color: var(--color-gray-400);

  // Focus
  --cr-input-focus-border: var(--color-gray-900);

  // Disabled
  --cr-input-disabled-background: var(--color-gray-50);
  --cr-input-disabled-border: var(--color-gray-200);
  --cr-input-disabled-color: var(--color-gray-400);
  --cr-input-disabled-placeholder-color: var(--color-gray-300);

  // Invalid
  --cr-input-invalid-border: var(--color-red-600);
}
