:root {
  /* ---------------------------------- *\
           Input style
  \* ---------------------------------- */

  // Input
  --lf-input-background: var(--lf-color-white);
  --lf-input-border: var(--lf-color-gray-200);
  --lf-input-border-radius: #{rem(8)};
  --lf-input-shadow: var(--shadow-s);
  --lf-input-color: var(--lf-color-gray-900);
  --lf-input-placeholder-color: var(--lf-color-gray-400);

  // Focus
  --lf-input-focus-border: var(--lf-color-gray-900);

  // Disabled
  --lf-input-disabled-background: var(--lf-color-gray-50);
  --lf-input-disabled-border: var(--lf-color-gray-200);
  --lf-input-disabled-color: var(--lf-color-gray-400);
  --lf-input-disabled-placeholder-color: var(--lf-color-gray-300);

  // Invalid
  --lf-input-invalid-border: var(--lf-color-red-600);
}
