:root {
  /* ---------------------------------- *\
           Radio style
  \* ---------------------------------- */

  // General style
  --lf-radio-shadow: var(--shadow-s);

  // Text style
  --lf-radio-text-font-weight: var(--font-medium);
  --lf-radio-text-color: var(--lf-color-gray-900);

  // Description style
  --lf-radio-description-font-size: #{rem(12)};
  --lf-radio-description-line-height: #{rem(15)};
  --lf-radio-description-font-weight: var(--font-normal);
  --lf-radio-description-color: var(--lf-color-gray-500);
  --lf-radio-description-spacing: #{rem(4)};

  // Unchecked
  --lf-radio-unchecked-border: var(--lf-color-gray-300);
  --lf-radio-unchecked-background: var(--lf-color-white);

  // Checked
  --lf-radio-checked-border: var(--lf-color-gray-900);
  --lf-radio-checked-background: var(--lf-color-white);

  // Disabled Unchecked
  --lf-radio-disabled-unchecked-border: var(--lf-color-gray-200);
  --lf-radio-disabled-unchecked-background: var(--lf-color-gray-50);

  // Disabled Checked
  --lf-radio-disabled-checked-border: var(--lf-color-gray-400);
  --lf-radio-disabled-checked-background: var(--lf-color-white);

  /* ---------------------------------- *\
           Checkbox sizes
  \* ---------------------------------- */

  /* Small */
  --lf-radio-small-size: #{rem(14)};
  --lf-radio-small-font-size: #{rem(13)};
  --lf-radio-small-line-height: 1.25;

  /* Medium */
  --lf-radio-medium-size: #{rem(16)};
  --lf-radio-medium-font-size: #{rem(14)};
  --lf-radio-medium-line-height: 1.25;
}
