:root {
  /* ---------------------------------- *\
           Spinner style
  \* ---------------------------------- */

  --lf-spinner-size: #{rem(32)};
  --lf-spinner-color: var(--lf-color-gray-500);
  --lf-spinner-border-percentage: 8;
}

