:root {
  /* ---------------------------------- *\
           Spinner style
  \* ---------------------------------- */

  --cr-spinner-size: #{rem(32)};
  --cr-spinner-color: var(--color-gray-500);
  --cr-spinner-border-percentage: 8;
}

