@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fixing storybook broken styles because of imported styles
.tag{
  margin-top: initial !important;
  margin-bottom: initial !important;
  border-radius: initial !important;
  border-width: 0 !important;
  border-color: initial !important;
  background-color: initial !important;
  padding: initial !important;
  line-height:initial !important;
}
