@import 'https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css';

// fixing storybook broken styles because of imported styles
.tag{
  margin-top: initial !important;
  margin-bottom: initial !important;
  border-radius: initial !important;
  border-width: 0 !important;
  border-color: initial !important;
  background-color: initial !important;
  padding: initial !important;
  line-height:initial !important;
}
