.c-badge {
  background: var(--lf-badge-background);
  border: rem(1) solid var(--lf-badge-border);
  color: var(--lf-badge-text);

  font-size: var(--lf-badge-font-size);
  height: var(--lf-badge-height);
  line-height: calc(var(--lf-badge-height) - rem(2));

  @apply px-2 rounded-md inline-block font-medium;

  /* Badge types */
  &--default{
    --lf-badge-background: var(--lf-badge-default-background);
    --lf-badge-border: var(--lf-badge-default-border);
    --lf-badge-text: var(--lf-badge-default-text);
  }

  &--white{
    --lf-badge-background: var(--lf-badge-white-background);
    --lf-badge-border: var(--lf-badge-white-border);
    --lf-badge-text: var(--lf-badge-white-text);
  }

  &--primary{
    --lf-badge-background: var(--lf-badge-primary-background);
    --lf-badge-border: var(--lf-badge-primary-border);
    --lf-badge-text: var(--lf-badge-primary-text);
  }

  /* Badge sizes */
  &--small{
    --lf-badge-font-size: var(--lf-badge-small-font-size);
    --lf-badge-height: var(--lf-badge-small-height);
  }

  &--medium{
    --lf-badge-font-size: var(--lf-badge-medium-font-size);
    --lf-badge-height: var(--lf-badge-medium-height);
  }
}
