/* ---------------------------------- *\
            Colors
\* ---------------------------------- */

:root {
  // Main colors
  --cr-color-transparent: var(--color-transparent);
  --cr-color-white: var(--color-white);
  --cr-color-black: var(--color-black);
  --cr-color-background: var(--color-background);

  // Primary
  --cr-color-primary-900: var(--color-primary-900);
  --cr-color-primary-800: var(--color-primary-800);
  --cr-color-primary-700: var(--color-primary-700);
  --cr-color-primary-600: var(--color-primary-600);
  --cr-color-primary-500: var(--color-primary-500);
  --cr-color-primary-400: var(--color-primary-400);
  --cr-color-primary-300: var(--color-primary-300);
  --cr-color-primary-200: var(--color-primary-200);
  --cr-color-primary-100: var(--color-primary-100);
  --cr-color-primary-50: var(--color-primary-50);
  --cr-color-primary-25: var(--color-primary-25);

  // Secondary
  --cr-color-secondary-500: var(--color-secondary-500);
  --cr-color-secondary-400: var(--color-secondary-400);
  --cr-color-secondary-300: var(--color-secondary-300);
  --cr-color-secondary-200: var(--color-secondary-200);
  --cr-color-secondary-100: var(--color-secondary-100);
  --cr-color-secondary-50: var(--color-secondary-50);

  // Gray
  --cr-color-gray-900: var(--color-gray-900);
  --cr-color-gray-800: var(--color-gray-800);
  --cr-color-gray-700: var(--color-gray-700);
  --cr-color-gray-600: var(--color-gray-600);
  --cr-color-gray-500: var(--color-gray-500);
  --cr-color-gray-400: var(--color-gray-400);
  --cr-color-gray-300: var(--color-gray-300);
  --cr-color-gray-200: var(--color-gray-200);
  --cr-color-gray-100: var(--color-gray-100);
  --cr-color-gray-50: var(--color-gray-50);

  // Red
  --cr-color-red-900: var(--color-red-900);
  --cr-color-red-800: var(--color-red-800);
  --cr-color-red-700: var(--color-red-700);
  --cr-color-red-600: var(--color-red-600);
  --cr-color-red-500: var(--color-red-500);
  --cr-color-red-400: var(--color-red-400);
  --cr-color-red-300: var(--color-red-300);
  --cr-color-red-200: var(--color-red-200);
  --cr-color-red-100: var(--color-red-100);
  --cr-color-red-50: var(--color-red-50);

  // Yellow
  --cr-color-yellow-900: var(--color-yellow-900);
  --cr-color-yellow-800: var(--color-yellow-800);
  --cr-color-yellow-700: var(--color-yellow-700);
  --cr-color-yellow-600: var(--color-yellow-600);
  --cr-color-yellow-500: var(--color-yellow-500);
  --cr-color-yellow-400: var(--color-yellow-400);
  --cr-color-yellow-300: var(--color-yellow-300);
  --cr-color-yellow-200: var(--color-yellow-200);
  --cr-color-yellow-100: var(--color-yellow-100);
  --cr-color-yellow-50: var(--color-yellow-50);

  // Green
  --cr-color-green-1000: var(--color-green-1000);
  --cr-color-green-900: var(--color-green-900);
  --cr-color-green-800: var(--color-green-800);
  --cr-color-green-700: var(--color-green-700);
  --cr-color-green-600: var(--color-green-600);
  --cr-color-green-500: var(--color-green-500);
  --cr-color-green-400: var(--color-green-400);
  --cr-color-green-300: var(--color-green-300);
  --cr-color-green-200: var(--color-green-200);
  --cr-color-green-100: var(--color-green-100);
  --cr-color-green-50: var(--color-green-50);

  // Purple
  --cr-color-purple-900: var(--color-purple-900);
  --cr-color-purple-800: var(--color-purple-800);
  --cr-color-purple-700: var(--color-purple-700);
  --cr-color-purple-600: var(--color-purple-600);
  --cr-color-purple-500: var(--color-purple-500);
  --cr-color-purple-400: var(--color-purple-400);
  --cr-color-purple-300: var(--color-purple-300);
  --cr-color-purple-200: var(--color-purple-200);
  --cr-color-purple-100: var(--color-purple-100);
  --cr-color-purple-50: var(--color-purple-50);
}
