name: Node.js CI

on:
  pull_request:
    paths:
      - 'backend/**'
      - 'services/**'
jobs:
  lint-format:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./backend

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install and build libraries
        run: ../services/scripts/install_lib_packages.sh

      - name: Install root dependencies
        run: npm ci

      - name: Check linting
        run: npm run lint

      - name: Check formatting
        run: npm run format-check

      - name: Check typescript
        run: npm run tsc-check

  lint-format-services:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./services

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install packages
        run: ./scripts/install_all_packages.sh

      - name: Check library linting, format and typescript
        run: ./scripts/lint_libs.sh

      - name: Check app linting, format and typescript
        run: ./scripts/lint_apps.sh

  tests-main:
    needs: lint-format
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./backend

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install and build libraries
        run: ../services/scripts/install_lib_packages.sh

      - name: Install root dependencies
        run: npm ci

      - name: Run tests
        working-directory: ./backend
        run: SERVICE=test npm test -- --testPathIgnorePatterns=serverless

  tests-serverless:
    needs: lint-format
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./backend

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install and build libraries
        run: ../services/scripts/install_lib_packages.sh

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        working-directory: ./backend
        run: SERVICE=test npm test -- --testPathPattern="serverless\/"

  tests-services:
    needs: lint-format-services
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./services/tests

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install and build libraries
        run: ../services/scripts/install_lib_packages.sh

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test
