name: Lint Frontend

on:
  pull_request:
    paths:
      - 'frontend/**'

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Lint code
        run: corepack enable pnpm i --frozen-lockfile && pnpm run lint
        working-directory: frontend
