.badge {
  @apply bg-gray-200 text-gray-900 px-2.5 text-xs py-1 rounded-md;

  &--green {
    @apply bg-green-100 text-green-900;
  }

  &--red {
    @apply bg-red-100 text-green-900;
  }

  &--yellow {
    @apply bg-yellow-100 text-green-900;
  }

  &--purple {
    @apply bg-purple-100 text-purple-900;
  }
}
