.btn {
  @apply rounded-md font-medium inline-flex items-center justify-center h-auto box-border;
  transition: all 0.2s;

  // Button Sizes
  &--xs {
    padding-top: 3px;
    padding-bottom: 3px;
    @apply px-2 text-2xs;
  }

  &--sm {
    @apply px-3 py-1.5 text-xs;
  }

  &--md {
    @apply px-3 py-2.5 text-sm;
  }

  &--lg {
    @apply px-4 py-3 text-base;
  }

  // TODO: Find a better solution for icon buttons
  &--icon--sm {
    @apply p-1.5 text-xs;
  }

  // Default buttons' variations
  &--primary {
    @apply bg-gray-900 text-white border-none;

    &:hover {
      @apply cursor-pointer bg-gray-600 text-white;
    }
    &:focus {
      @apply outline outline-1 outline-gray-900 outline-offset-2 bg-gray-900 text-white;
    }
    &:active {
      @apply bg-gray-600 text-white;
    }
    &[disabled] {
      @apply cursor-not-allowed bg-gray-400 text-white;
    }
  }

  &--secondary {
    @apply bg-gray-100 text-gray-600 border-none;

    &:hover {
      @apply cursor-pointer bg-gray-200 text-gray-600;
    }
    &:focus {
      @apply outline outline-1 outline-gray-900 outline-offset-2 bg-gray-100 text-gray-600;
    }
    &:active {
      @apply bg-gray-200 text-gray-600;
    }
    &[disabled] {
      @apply cursor-not-allowed bg-gray-100 text-gray-400;
    }
  }

  &--bordered {
    @apply bg-white text-gray-600 border-2 border-gray-200 border-solid;

    &:hover {
      @apply cursor-pointer bg-gray-100 text-gray-600 border-2  border-gray-200 border-solid;
    }
    &:focus {
      @apply bg-white text-gray-600 border-2  border-gray-200 border-solid outline outline-1 outline-gray-900;
    }
    &:active {
      @apply bg-gray-200 text-gray-600 border-2 border-gray-200 border-solid;
    }
    &[disabled] {
      @apply cursor-not-allowed bg-white text-gray-400 border-2 border-gray-100 border-solid;
    }
  }

  &--transparent {
    @apply bg-white text-gray-600 border-none;

    &:hover {
      @apply cursor-pointer bg-gray-100 text-gray-600;
    }
    &:focus {
      @apply bg-white text-gray-600 border-2  border-gray-200 border-solid;
    }
    &:active {
      @apply bg-gray-200 text-gray-600 border-2 border-gray-200 border-solid;
    }
    &[disabled] {
      @apply cursor-not-allowed bg-white text-gray-400 border-2 border-gray-100 border-solid;
    }
  }

  // Brand buttons' variations
  &-brand {
    &--primary {
      @apply bg-brand-500 text-white border-none;

      &:hover {
        @apply cursor-pointer bg-brand-600 text-white;
      }
      &:focus {
        @apply outline outline-1 outline-gray-900 outline-offset-2 bg-brand-500 text-white;
      }
      &:active {
        @apply bg-brand-600 text-white;
      }
      &[disabled] {
        @apply cursor-not-allowed bg-brand-300 text-white;
      }
    }

    &--secondary {
      @apply bg-brand-50 text-brand-600 border-none;

      &:hover {
        @apply cursor-pointer bg-brand-100 text-brand-600;
      }
      &:focus {
        @apply outline outline-1 outline-gray-900 outline-offset-2 bg-brand-50 text-brand-600;
      }
      &:active {
        @apply bg-brand-100 text-brand-600;
      }
      &[disabled] {
        @apply cursor-not-allowed bg-brand-50 text-brand-300;
      }
    }

    &--bordered {
      @apply bg-white text-brand-600 border-2 border-brand-100 border-solid;

      &:hover {
        @apply cursor-pointer bg-brand-50 text-brand-600 border-2 border-brand-100 border-solid;
      }
      &:focus {
        @apply bg-white text-brand-600 border-2 border-brand-100 border-solid outline outline-1 outline-gray-900 outline-offset-2;
      }
      &:active {
        @apply bg-brand-100 text-brand-600 border-2 border-brand-100 border-solid;
      }
      &[disabled] {
        @apply cursor-not-allowed bg-white text-brand-300 border-2 border-brand-50 border-solid;
      }
    }

    &--transparent {
      @apply bg-white text-brand-600 border-none;

      &:hover {
        @apply cursor-pointer bg-brand-50 text-brand-600;
      }
      &:focus {
        @apply bg-white text-brand-600 outline outline-1 outline-gray-900 outline-offset-2;
      }
      &:active {
        @apply bg-brand-100 text-brand-600;
      }
      &[disabled] {
        @apply cursor-not-allowed bg-white text-brand-300;
      }
    }
  }

  // Link buttons
  &-link {
    @apply bg-transparent border-0 p-0 rounded-none shadow-none;

    // Size
    &--sm {
      @apply text-2xs;
    }
    &--md {
      @apply text-sm;
    }
    &--lg {
      @apply text-base;
    }

    // Link buttons' variations
    &--primary {
      @apply text-brand-500;

      &:hover {
        @apply cursor-pointer text-brand-600;
      }
      &[disabled] {
        @apply cursor-not-allowed text-brand-300;
      }
    }
    &--secondary {
      @apply text-gray-900;

      &:hover {
        @apply cursor-pointer text-brand-500;
      }
      &[disabled] {
        @apply cursor-not-allowed text-gray-400;
      }
    }
    &--success {
      @apply text-green-500;

      &:hover {
        @apply cursor-pointer text-green-600;
      }
      &[disabled] {
        @apply cursor-not-allowed text-green-300;
      }
    }
    &--danger {
      @apply text-red-500;

      &:hover {
        @apply cursor-pointer text-red-600;
      }
      &[disabled] {
        @apply cursor-not-allowed text-red-300;
      }
    }
    &--warning {
      @apply text-yellow-500;

      &:hover {
        @apply cursor-pointer text-yellow-600;
      }
      &[disabled] {
        @apply cursor-not-allowed text-yellow-300;
      }
    }

    // Decoration {
    &--underline {
      @apply underline;
    }
  }

  &--link {
    @apply bg-transparent border-0 p-0 rounded-none text-blue-500 shadow-none;
    &:hover {
      @apply bg-transparent text-blue-500 opacity-80;
    }
  }

  &--text {
    @apply bg-transparent border-0 shadow-none text-brand-500;
    &:hover,
    &:focus {
      @apply text-brand-500;
      background: #fdedea;
    }
  }

  &--full {
    @apply w-full;
  }

  &[disabled] {
    opacity: 0.75;
    cursor: default;
    pointer-events: none;
  }

  i:not(:only-child) {
    @apply mr-2;
  }

  &--circle {
    @apply p-0 rounded-full h-7 w-7 flex items-center justify-center text-base shrink-0;
    i {
      @apply m-0;
    }
  }

  &--email,
  &--email:hover {
    @apply border-0 text-brand-500;
    background-color: rgba(219, 53, 0, 0.1);
  }

  &--twitter,
  &--twitter:hover {
    background-color: rgba(0, 162, 245, 0.1);
    color: #00a2f5;
  }

  &--github,
  &--github:hover {
    background-color: rgba(89, 89, 89, 0.1);
    color: #000;
  }

  &--devto,
  &--devto:hover {
    background-color: rgba(89, 89, 89, 0.1);
    color: #000;
  }

  &--linkedin,
  &--linkedin:hover {
    background-color: rgba(2, 116, 179, 0.1);
    color: #0274b3;
  }

  &--slack {
    background-color: rgba(235, 179, 47, 0.1);
    color: #ebb32f;
  }

  &--discord {
    background-color: rgba(115, 124, 248, 0.1);
    color: #737cf8;
  }

  &--email,
  &--twitter:hover,
  &--github:hover &--linkedin:hover {
    @apply opacity-80;
  }

  &.el-button + &.el-button {
    @apply ml-0;
  }
}
