.btn {
  @apply rounded-lg font-medium inline-flex items-center justify-center h-auto box-border;
  transition: all 0.2s;

  // Button Sizes
  &--xs {
    padding-top: 3px;
    padding-bottom: 3px;
    @apply px-2 text-2xs;
  }

  &--sm {
    @apply px-3 py-1.5 text-xs;
  }

  &--md {
    @apply px-3 h-10 text-sm;
  }

  &--lg {
    @apply px-4 py-3 text-base leading-6;
  }

  // Icon buttons
  &--icon--sm {
    @apply p-1.5 text-xs;
  }

  // Default buttons' variations
  &--primary {
    background: linear-gradient(180deg, #1E9FFD 0%, #0094FF 100%);
    @apply text-white border-none shadow;

    &:hover,
    &:hover:is(a):not(.disabled) {
      background: linear-gradient(180deg, #45b1ff 0%, #1E9FFD 100%);
      @apply cursor-pointer text-white;
    }
    &:focus {
      background: linear-gradient(180deg, #1E9FFD 0%, #0094FF 100%);
      @apply outline outline-1 outline-brand-500 outline-offset-2 text-white;
    }
    &:active {
      background: linear-gradient(180deg, #45b1ff 0%, #1E9FFD 100%);
      @apply text-white;
    }
    &[disabled],
    &.disabled {
      @apply cursor-not-allowed bg-brand-200 text-white;
    }
  }

  &--secondary {
    background: linear-gradient(180deg, #FFF 0%, #E6E6E6 100%);
    border: 1px solid #E6E6E6;
    @apply text-brand-500;

    &:hover {
      border: 1px solid #E6E6E6;
      @apply cursor-pointer bg-gray-100 text-brand-500 border-solid;
    }
    &:focus {
      border: 1px solid #E6E6E6;
      background: linear-gradient(180deg, #FFF 0%, #E6E6E6 100%);
      @apply text-brand-500  border-solid outline outline-offset-2 outline-1 outline-gray-300;
    }
    &:active {
      border: 1px solid #E6E6E6;
      @apply bg-gray-200 text-brand-500 border-solid;
    }
    &[disabled] {
      background: linear-gradient(180deg, #FFF 0%, #F3F4F6 100%);
      @apply cursor-not-allowed text-gray-400 border border-gray-100 border-solid;
    }

    &.btn{
      &--lg {
        @apply py-2.5;
      }
    }
  }

  // Link buttons
  &-link {
    @apply bg-transparent border-0 p-0 rounded-none shadow-none;

    // Size
    &--sm {
      @apply text-2xs;
    }
    &--md {
      @apply text-sm h-10;
    }
    &--lg {
      @apply text-base;
    }

    // Link buttons' variations
    &--primary {
      @apply text-brand-500;

      &:hover,
      &:active,
      &:focus {
        @apply cursor-pointer text-brand-500 bg-transparent underline;
      }
      &[disabled] {
        @apply cursor-not-allowed text-brand-300 bg-transparent;
      }
    }

    &--secondary {
      @apply text-gray-900;

      &:hover,
      &:active,
      &:focus {
        @apply cursor-pointer text-brand-500 bg-transparent;
      }
      &[disabled] {
        @apply cursor-not-allowed text-gray-400 bg-transparent;
      }
    }
  }

  &--link {
    @apply bg-transparent border-0 p-0 rounded-none text-blue-500 shadow-none;
    &:hover,
    &:active,
    &:focus {
      @apply bg-transparent text-blue-500 opacity-80;
    }
  }

  &--text {
    @apply bg-transparent border-0 shadow-none text-brand-500;
    &:hover,
    &:focus {
      @apply text-brand-500;
      background: #fdedea;
    }
  }

  &--full {
    @apply w-full;
  }

  &--circle {
    @apply rounded-full h-9 w-9;
  }

  &[disabled] {
    opacity: 0.75;
    cursor: default;
    pointer-events: none;
  }

  i:first-child:not(:only-child) {
    @apply mr-2;
  }

  &.el-button + &.el-button {
    @apply ml-0;
  }
}

.btn-group {
  @apply flex items-center flex-nowrap;
}

.btn-group > .btn:not(:last-child) {
  @apply -mr-0.5;
}

// Identities
.btn {
  &--twitter,
  &--twitter:hover {
    @apply bg-white border border-gray-200;
  }

  &--discord,
  &--discord:hover {
    background-color: rgba(88, 101, 242, 0.15);
  }

  &--crunchbase,
  &--crunchbase:hover {
    background: rgba(20, 106, 255, 0.15);
  }

  &--hackernews,
  &--hackernews:hover {
    background-color: rgba(255, 102, 0, 0.15);
    color: #ff6600;
  }

  &--email,
  &--email:hover,
  &--phone,
  &--phone:hover,
  &--custom-platform,
  &--custom-platform:hover,
  &--facebook,
  &--facebook:hover {
    @apply leading-none cursor-pointer bg-white text-gray-600 border border-gray-200;
  }

  &--github,
  &--github:hover,
  &--devto,
  &--devto:hover {
    @apply bg-gray-100 border border-gray-200;
  }

  &--slack,
  &--slack:hover,
  &--linkedin,
  &--linkedin:hover,
  &--stackoverflow,
  &--stackoverflow:hover,
  &--git,
  &--git:hover {
    @apply bg-white border border-gray-200;
  }
}

.el-button {
  --el-button-outline-color: transparent !important;
}
