.bg-green {
  background-color: #4caf50 !important;
}

.text-green {
  color: #4caf50 !important;
}

.bg-red {
  background-color: #f44336 !important;
}

.text-red {
  color: #f44336 !important;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}
