.error-page {
  display: flex;
  align-items: center;
  height: 80%;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.error-page .imgBlock {
    flex: 0 0 50%;
    width: 50%;
    padding-right: 152px;
    zoom: 1;
}

.error-page .imgBlock::before, .error-page .imgBlock::after {
  content: ' ';
  display: table;
}

.error-page .imgBlock::after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

.error-page .imgEle {
  height: 360px;
  width: 100%;
  max-width: 430px;
  float: right;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.error-page  .content {
  flex: auto;
}

.error-page  .content  h1 {
  color: #434e59;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 24px;
}

.error-page  .content  .desc {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.error-page  .content  .actions  button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  .error-page .imgBlock{
    padding-right: 88px;
  }
}

@media screen and (max-width: 767.98px) {
  .error-page {
    display: block;
    text-align: center;
  }

  .error-page .imgBlock {
    padding-right: 0;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width: 575.98px) {
  .exception .imgBlock {
    margin-bottom: -24px;
    overflow: hidden;
  }
}
