.filter form {
  padding: 16px;
}

.filter-with-operator-and-input {
  @apply px-2 pb-4 pt-2;

  .el-input__wrapper,
  .el-input__wrapper.is-focus,
  .el-input__wrapper:hover {
    border: none !important;
    @apply h-8 bg-gray-50 shadow-none rounded-md;

    input {
      &,
      &:hover,
      &:focus {
        border: none !important;
        @apply bg-gray-50 shadow-none outline-none h-full min-h-8;
      }
    }
  }

  .inline-select-input-prefix,
  .inline-select-input-value {
    @apply text-2xs;
  }
}
