.filter .el-form {
  @apply p-0;

  .el-row {
    @apply -mx-3;
  }
  .el-col {
    @apply px-3;
  }

  .el-form-item {
    @apply block mb-4;
    &__label { @apply block font-semibold text-left h-6 leading-6; }
    &__content { @apply block; margin-left: 0!important; }
  }
}

.filter .el-select {
  width: 100%;
}

.filter .filter-buttons {
  @apply mt-4;
  text-align: right;
}

.filter-preview {
  @apply flex items-center mb-8;
}

.filter-toggle {
  @apply cursor-pointer flex items-center text-brand-500;
  transition: background-color 0.2s;

  &--active {
    @apply text-brand-500;
  }

  &:hover {
    @apply opacity-80;
  }
}

.filter-preview .el-tag {
  @apply my-1 mr-2;
}

.filter-preview-values {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter form {
  padding: 16px;
}

.filter .el-date-editor--datetimerange.el-input__inner {
  width: 100%;
}

.filter .el-date-editor--daterange.el-input__inner {
  width: 100%;
}

.filter-with-operator-and-input {
  @apply px-2 pb-4 pt-2;

  .el-input__wrapper,
  .el-input__wrapper.is-focus,
  .el-input__wrapper:hover {
    @apply h-8 bg-gray-50 shadow-none border-none rounded-md;

    input {
      &,
      &:hover,
      &:focus {
        @apply bg-gray-50 shadow-none border-none outline-none h-full min-h-8;
      }
    }
  }

  .inline-select-input-prefix,
  .inline-select-input-value {
    @apply text-2xs;
  }
}
