.form .form-buttons {
  @apply w-full flex justify-end;
}

.form .form-field {
  margin-top: 8px;
}

.form .el-select {
  width: 100%;
}

.form .app-form-hint {
  @apply text-gray-600;
  font-size: 12px;
}

.form .el-checkbox__input.is-checked + .el-checkbox__label {
  color: inherit;
}

.el-form.form {
  .el-form-item {
    @apply block;
    &__content {
      @apply block mb-4 w-full;
    }

    .el-input {
      .el-input__wrapper {
        .el-input__inner {
          @apply border-none;
        }
      }
    }
  }

  .el-form-item__label {
    @apply font-medium text-black h-7 leading-6;
  }
  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
    display: none;
  }

  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
    content: '*';
    margin-left: 4px;
  }
}

.el-input, .el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  @apply h-10 leading-10 w-full;
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  @apply w-auto;
}

.el-checkbox {
  &__label {
    @apply text-black font-normal;
  }

  &__input {
    .el-checkbox__inner {
      @apply h-5 w-5;
      &::after {
        height: 10px;
        left: 7px;
        top: 2px;
      }

      &:hover {
        @apply border-blue-500;
      }
    }

    &.is-indeterminate {
      .el-checkbox__inner::before {
        top: 8px;
      }
    }

    &.is-checked .el-checkbox__inner, &.is-indeterminate .el-checkbox__inner {
      @apply bg-blue-500 border-blue-500;
    }

    &.is-disabled + span.el-checkbox__label {
      @apply text-black;
    }
  }
}

.el-radio.is-bordered {
  @apply m-0 px-4 mr-2;

  .el-radio__input {
    @apply hidden;
  }

  .el-radio__label {
    @apply p-0;
  }

  &.is-checked {
    @apply border-brand-500;
    background-color: #fff5f4;
    .el-radio__label {
      @apply text-brand-500;
    }
  }
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
  @apply border-blue-500;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  @apply border-red-500;
}

.el-form-item__error {
  @apply text-red-500;
}

.el-select-dropdown__item {
  @apply text-gray-500;
  span.prefix {
    @apply mr-2 font-light text-gray-400;
  }
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected ,
.el-select-dropdown .el-select-dropdown__item.selected {
  @apply text-blue-500;
  font-weight: 700;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #fffbf8;
}