.form .form-buttons {
  @apply w-full flex justify-end;
}

.form .form-field {
  margin-top: 8px;
}

.form .el-select {
  width: 100%;
}

.form .app-form-hint {
  @apply text-gray-600;
  font-size: 12px;
}

.form .el-checkbox__input.is-checked + .el-checkbox__label {
  color: inherit;
}

// Form
.el-form,
.el-form--default.el-form--label-top {
  .el-form-item {
    &__content {
      @apply mb-4 w-full;
    }

    // Inuput prepend
    .el-input-group__prepend {
      @apply font-semibold text-gray-900 px-3 flex gap-1;

      & ~ .el-input__wrapper {
        @apply rounded-l-none rounded-r-md;
      }
    }

    // Input and textarea
    .el-input__wrapper,
    .el-textarea__inner {
      @apply shadow-none border border-solid border-gray-300 rounded-md resize-none;

      &.is-focus,
      &:focus {
        @apply border-gray-500;
      }

      &:hover:not(:focus):not(.is-focus) {
        @apply border-gray-400;
      }

      & .el-input__inner {
        @apply text-gray-900;
      }
    }

    .el-textarea__inner {
      @apply text-gray-900;
    }

    & .el-form-item__label {
      @apply flex flex-row-reverse gap-1 mb-1 text-xs text-gray-900 font-semibold;
    }

    &.is-error .el-input__wrapper,
    &.is-error .el-input__wrapper:focus,
    &.is-error .el-textarea__inner,
    &.is-error .el-textarea__inner:focus {
      @apply shadow-none border border-red-500;
    }
  }
}

.el-input,
.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  @apply h-10 leading-10 w-full;
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  @apply w-auto;
}

.el-checkbox {
  &__label {
    @apply text-black font-normal;
  }

  &__input {
    .el-checkbox__inner {
      @apply h-5 w-5 border-gray-300;
      &::after {
        height: 10px;
        left: 7px;
        top: 2px;
      }

      &:hover {
        @apply border-gray-400;
      }
    }

    &.is-indeterminate {
      .el-checkbox__inner::before {
        top: 8px;
      }
    }

    &.is-checked .el-checkbox__inner,
    &.is-indeterminate .el-checkbox__inner {
      @apply bg-brand-500 border-brand-500;
    }

    &.is-disabled + span.el-checkbox__label {
      @apply text-black;
    }
  }

  &.filter-checkbox {
    @apply mr-3;

    .el-checkbox__input .el-checkbox__inner {
      @apply h-4 w-4;
      &::after {
        height: 8px;
        left: 5px;
        top: 1px;
      }
    }
  }
}

.el-radio.is-bordered {
  @apply m-0 px-4 mr-2;

  .el-radio__input {
    @apply hidden;
  }

  .el-radio__label {
    @apply p-0;
  }

  &.is-checked {
    @apply border-brand-500;
    background-color: #fff5f4;
    .el-radio__label {
      @apply text-brand-500;
    }
  }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  @apply border-blue-500;
}

.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  @apply shadow-none border border-red-500;
}

.el-form-item__error {
  @apply text-red-500;
}

.el-tag,
.el-select .el-select__tags .el-tag--info {
  @apply bg-gray-100 border border-gray-200 text-gray-900;
}

.el-select-dropdown__item {
  @apply text-gray-500;
  span.prefix {
    @apply mr-2 font-light text-gray-400;
  }
}

.el-select-dropdown.is-multiple
  .el-select-dropdown__item.selected,
.el-select-dropdown .el-select-dropdown__item.selected {
  @apply text-blue-500;
  font-weight: 700;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  @apply bg-gray-50;
}

// Switch component
.el-switch {
  @apply flex grow justify-between items-center ml-4 cursor-pointer;

  & .el-switch__label {
    @apply text-xs text-gray-900 font-medium;
  }

  &.is-checked .el-switch__core {
    @apply border-brand-500 bg-brand-500;
  }
}

// Select component
.el-select {
  --el-border-color-hover: transparent;
  --el-select-input-focus-border-color: transparent;

  &:hover {
    @apply border-gray-400;
  }
}

.el-select__popper.el-popper.select__popper {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%) !important;
  border: none !important;
}

.el-select-dropdown {
  @apply p-2;

  & .el-select-dropdown__list {
    @apply flex flex-col gap-1;
    margin: 0 !important;
  }

  & .el-select-dropdown__item {
    @apply text-black rounded hover:bg-gray-50;

    &.selected {
      @apply font-medium bg-brand-50 text-gray-900;
    }
  }
}
