/* TailwindCSS initialization */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import 'helpers';
@import 'layout';
@import 'typography';
@import 'filter';
@import 'buttons';
@import 'tags';
@import 'panel';
@import 'toast';
@import 'tabs';
@import 'drawer';
@import 'animations';
@import 'confirm-dialog';
@import 'badge';
@import 'content';
@import 'popover';
@import 'tooltip';
@import 'html';
@import 'form/date-picker';
@import 'form/radio';
@import 'form/form';
@import 'form/dropdown';
@import 'form/select';
@import 'form/input';
@import 'tooltip';
@import 'layout/index';

@import '../../../config/styles';
@import '../../ui-kit';
