@import '~element-plus/dist/index.css';

/* TailwindCSS initialization */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import 'layout';
@import 'typography';
@import 'plan';
@import 'auth';
@import 'onboard';
@import 'form';
@import 'filter';
@import 'errors';
@import 'colors';
@import 'settings';
@import 'table';
@import 'view';
@import 'buttons';
@import 'dropdown';
@import 'tags';
@import 'dialogs';
@import 'panel';
@import 'toast';
@import 'tabs';
@import 'drawer';
@import 'animations';
@import 'confirm-dialog';
@import 'date-picker';
@import 'timeline';
@import 'badge';

@import '~remixicon/fonts/remixicon.css';
