/* TailwindCSS initialization */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import 'layout';
@import 'typography';
@import 'plan';
@import 'auth';
@import 'onboard';
@import 'form';
@import 'filter';
@import 'errors';
@import 'colors';
@import 'settings';
@import 'table';
@import 'view';
@import 'buttons';
@import 'dropdown';
@import 'tags';
@import 'message-box';
@import 'dialogs';
@import 'panel';
@import 'pagination';
@import 'toast';

@import '~remixicon/fonts/remixicon.css';