#nprogress .bar {
  background: #e94f2e !important;
}

body {
  @apply bg-gray-50;
}

.el-main {
  max-height: 100vh;
}

.el-header .el-dropdown-link-body {
  cursor: pointer;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.el-header .el-dropdown-link-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.el-header .i18n-select {
  margin-right: 24px;
}

.el-menu-item .el-menu-tooltip__trigger {
  width: 58px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
}

.el-popper__arrow {
  display: none;
}

.el-popper.is-dark {
  @apply font-medium h-6 px-1.5 bg-gray-900 border-none rounded-md flex items-center;
}

.w-100 {
  width: 100%;
}

hr {
  @apply border-t;
  border-color: #e9e9e9;
}

@media (max-width: 576px) {
  .hide-xs {
    display: none;
  }
}

.app-content-page {
  @apply mt-5 p-6 bg-white overflow-y-hidden rounded;
  border: 1px solid #e9e9e9;
}

.app-content-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.el-loading-mask {
  @apply bg-transparent;

  .el-loading-spinner {
    @apply relative flex items-center justify-center h-full top-auto mt-auto;

    .circular {
      @apply h-6 w-6;
    }

    .path {
      stroke: #111827;
    }
  }
}

.app-page-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;

  .el-loading-mask {
    @apply bg-transparent;
  }
  .el-loading-spinner {
    @apply relative flex items-center justify-center h-full top-auto mt-auto;
    .circular {
      @apply w-10 h-10;
    }
  }
}

.el-loading-spinner .path {
  stroke: #e94f2e;
}

.app-divider {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin: 16px 0;

  display: block;
  height: 1px;
  width: 100%;
  margin: 24px 0;
  clear: both;

  position: relative;
  top: -0.06em;

  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8e8e8;
}

.app-avatar {
  border: 1px solid #fff;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.app-avatar > * {
  line-height: 32px;
  margin-left: 1px;
}

.app-avatar.app-avatar-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
}

.app-avatar.app-avatar-sm > * {
  line-height: 24px;
}

.app-avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

.container,
.container-fluid {
  @apply flex flex-1 mx-auto relative;
  max-width: 800px;

  @screen lg {
    @apply px-8;
  }
}

.container-fluid {
  @apply max-w-full;
}

.el-row {
  flex-wrap: wrap;
}
