.onboard .title {
  @apply font-semibold mb-8 text-white w-full text-left;
  width: 1024px;
}

.onboard .content {
  width: 1024px;
  overflow-y: visible;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .onboard .title, .onboard .content {
    @apply w-full px-6;
  }
}

.onboard .wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-size: cover;
  @apply pt-32;
}