.el-pagination-wrapper {
  @apply w-full flex flex-row-reverse mt-6;

  .el-pagination {
    @apply flex items-center -mx-2;
    ul.el-pager {
      @apply flex items-center -mx-1;
      li.number, li.btn-quicknext, li.btn-quickprev {
        &.is-active {
          @apply bg-brand-500 border-brand-500 text-white;
        }
        &:hover:not(.is-active) {
          @apply bg-gray-200;
        }
      }
    }

    &__sizes .el-input .el-input__inner:hover {
      @apply border-blue-500;
    }

    ul.el-pager li.number, ul.el-pager li.btn-quicknext, ul.el-pager li.btn-quickprev, button {
      @apply text-sm border-0 flex items-center justify-center h-8 w-8 p-0 mx-1 bg-transparent font-semibold text-gray-600;
      transition: color 0.2s;
      min-width: unset;
      border-radius: 4px;
    }

    .el-select .el-input {
      width: 100px;
    }

    button {
      @apply mx-2;
    }
  }
}