.el-pagination-wrapper {
  @apply w-full flex flex-row-reverse mt-6;

  .el-pagination {
    @apply flex items-center -mx-2;
    ul.el-pager {
      @apply flex items-center -mx-1;
      li.number, li.btn-quicknext, li.btn-quickprev {
        &.active {
          @apply bg-primary-900 border-primary-900 text-white;
        }
        &:hover:not(.active) {
          @apply text-primary-900;
        }
      }
    }

    &__sizes .el-input .el-input__inner:hover {
      @apply border-secondary-900;
    }

    ul.el-pager li.number, ul.el-pager li.btn-quicknext, ul.el-pager li.btn-quickprev, button {
      @apply text-sm border-0 rounded-full flex items-center justify-center h-8 w-8 p-0 mx-1 bg-transparent font-semibold text-gray-500;
      transition: color 0.2s;
      min-width: unset;

      &:hover:not([disabled]:not(.active)) {
        @apply text-gray-800;
      }
    }

    button {
      @apply mx-2;
    }
  }
}