.el-tabs {
  &__header {
    @apply m-0 border-none #{!important};
  }
  &__active-bar {
    @apply bg-primary-500 #{!important};
  }
  &__content {
    @apply overflow-visible;
  }
  &__item {
    @apply font-normal text-gray-900 px-4;
    transition: all 0.2s ease;

    &.is-active {
      @apply font-medium text-primary-900 #{!important};
    }
    &:hover {
      @apply text-primary-500 #{!important};
    }
    &:focus.is-active.is-focus:not(:active) {
      box-shadow: none;
    }
  }
}
