html body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  @apply font-primary;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Open Sans", sans-serif;
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  @apply font-secondary font-semibold;
}

h1 {
  @apply text-h1;
}

h2 {
  @apply text-h2;
}

h3 {
  @apply text-h3;
}

h4 {
  @apply text-h4;
}

h5 {
  @apply text-h5;
}

h6 {
  @apply text-h6;
}

a {
  @apply no-underline text-primary-500;
  transition: color 0.2s ease;
  &[href]:hover {
    @apply text-primary-500;
  }
}
