html body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Open Sans", sans-serif;
  }
}

// Headings

h1 {
  @apply text-4xl font-semibold leading-normal;
}

h2 {
  @apply text-3xl font-semibold leading-normal;
}

h3 {
  @apply text-2xl font-semibold leading-normal;
}

h4 {
  @apply text-xl font-semibold leading-normal;
}

h5 {
  @apply text-lg font-semibold leading-normal;
}

h6 {
  @apply text-base font-semibold leading-normal;
}

a {
  @apply no-underline text-brand-500;
  transition: color 0.2s ease;
  &[href]:hover {
    @apply text-brand-600;
  }
}
